# Folders to ignore
data*
jack_code*
papers*

# Latex junk
*.aux
*.fls
*.log
*.out
*.lock
*.bbl
*.blg
*.fdb_latexmk
*.gz

# OS junk
*.DS_Store

# Data files
*.dat
*.txt

# Other random stuff
*.bat
*.pyc
*.lpt